.clients {
  & {
    @extend %section;
  }
  &__title--position {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    @extend %reset-list;
  }
  &__icon {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @extend %reset-link;

    fill: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:hover,
  &__icon:focus {
    fill: var(--logo-text);
    border-color: var(--logo-text);
  }
}
