.header {
    &__logo {
    margin-right: 93px;
  }

  &__link--position {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__list {
    display: flex;
    margin-left: auto;
    gap: 30px;
    @extend %reset-list;
  }

  &__icon {
    margin-right: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
  }
  & {
    border-bottom: 1px solid #ececec;
  }
}
