.portfolio {
  & {
    @extend %section-mobile;
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
  }
  &__item--btn-app {
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
  &__item--btn-mar {
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
}

.portfolio-work {
  &__list {
    display: flex;
    flex-wrap: wrap;
    @extend %reset-list;
    gap: 30px;
  }
  &__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    color: currentColor;
    @extend %reset-link;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__overley {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--logo-footer);
    background-color: #2196f3;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover &__overley,
  &__link:focus &__overley {
    transform: translateY(0%);
  }
  &__item.item:hover,
  &__item.item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  // &__item:nth-child(3n) {
  //   @media screen and (min-width: 1200px) {
  //     margin-right: 0;
  //   }
  // }
  // &__item:nth-last-child(-n + 3) {
  //   @media screen and (min-width: 1200px) {
  //     margin-bottom: 0;
  //   }
  // }
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * (2 - 1)) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * (3 - 1)) / 3);
    }
  }
  &__border {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  &__border--position {
    @media screen and (min-width: 768px) {
      padding-bottom: 56px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 24px;
    }
  }
}
